header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

header > h1 {
  margin: 10px 60px;
  max-height: 100px;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

li {
  margin: 10px 20px 0;
}
