.detail-container {
  display: flex;
  max-width: 100rem;
}

.detail-card {
  background-color: whitesmoke;
  justify-content: center;
  margin: 50px;
  max-width: 50rem;
  height: 50rem;
}

.detail-image {
  width: 50rem;
}

.detail-inf-box {
}
