.movie-card {
  align-items: center;
  background: rgb(230, 230, 230);
  border-radius: 15px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  width: 40%;
}

.card-image {
  width: 80%;
}
