form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
}

form label {
  display: flex;
  flex-direction: column;
}

form input, form select {
  border: 0;
  font-size: 16px;
  height: 25px;
  margin: 10px 0;
  width: 250px;
}

form textarea {
  border: 0;
  height: 75px;
  margin: 10px 0;
  resize: none;
  width: 250px;
}

form select {
  border: none;
  font-size: 16px;
  width: 250px;
}

form button {
  background-color: #b65b3f;
  border: 0;
  border-radius: 5px;
  color: whitesmoke;
  cursor: pointer;
  font-size: 20px;
  height: 50px;
  margin: 20px;
  text-decoration: none;
  width: 250px;
}
