body {
  background-color: whitesmoke;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media(max-width: 1020px) {
  html {
    font-size: 93.75%;
  }
}

@media(max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

